
[data-color-mode="dark"] [data-theme="vue-equipment"],
[data-color-mode="dark"][data-theme="vue-equipment"],
[data-color-mode="dark"][data-theme="vue-equipment"] * {
  --app-color-surface-elevation-low-bg: hsl(70, 4%, 0.5%);
  --app-color-surface-elevation-low-bg-hover: hsl(70 4% 0.41%);
  --app-color-surface-elevation-low-bg-active: hsl(70 4% 0.32%);
  --app-color-surface-elevation-base-bg: hsl(70, 4%, 6%);
  --app-color-surface-elevation-base-bg-hover: hsl(70 4% 4.86%);
  --app-color-surface-elevation-base-bg-active: hsl(70 4% 3.84%);
  --app-color-surface-elevation-high-bg: hsl(70, 4%, 10%);
  --app-color-surface-elevation-high-bg-hover: hsl(70 4% 8.1%);
  --app-color-surface-elevation-high-bg-active: hsl(70 4% 6.4%);
  --app-color-surface-elevation-higher-bg: hsl(70, 4%, 6%);
  --app-color-surface-elevation-higher-bg-hover: hsl(70 4% 4.86%);
  --app-color-surface-elevation-higher-bg-active: hsl(70 4% 3.84%);
  --app-color-surface-border: hsla(70, 4%, 60%, 0.16);
  --app-color-surface-border-hover: hsl(70 4% 60%);
  --app-color-surface-border-active: hsl(70 4% 60%);
  --app-color-surface-fg: hsla(70, 4%, 70%, 1);
  --app-color-surface-fg-muted: hsla(70, 4%, 70%, 0.54);
  --app-color-surface-fg-subtle: hsla(70, 4%, 70%, 0.24);
  --app-color-surface-fg-inverted: hsla(70, 4%, 6%, 1);
  --app-color-accent-bg-solid: hsl(70, 4%, 70%);
  --app-color-accent-bg-translucent: hsla(70, 4%, 70%, 0.12);
  --app-color-accent-bg-tone: hsl(70, 4%, 24%);
  --app-color-accent-border-solid: hsl(70, 4%, 70%);
  --app-color-accent-border-translucent: hsla(70, 4%, 70%, 0.16);
  --app-color-accent-fg-solid: hsla(70, 4%, 70%, 1);
  --app-color-accent-fg-muted: hsla(70, 4%, 70%, 0.54);
  --app-color-accent-fg-on-solid: hsla(70, 4%, 6%, 1);
  --app-color-accent-fg-on-tone: hsl(70, 4%, 70%);
  --app-color-accent-fg-on-translucent: hsl(70, 4%, 70%);
  --app-color-primary-bg-solid: hsl(70, 4%, 70%);
  --app-color-primary-bg-translucent: hsla(70, 4%, 70%, 0.12);
  --app-color-primary-bg-tone: hsl(70, 4%, 16%);
  --app-color-primary-border-solid: hsl(70, 4%, 70%);
  --app-color-primary-border-translucent: hsla(70, 4%, 70%, 0.16);
  --app-color-primary-fg-solid: hsla(70, 4%, 70%, 1);
  --app-color-primary-fg-muted: hsla(70, 4%, 70%, 0.54);
  --app-color-primary-fg-on-solid: hsla(70, 4%, 6%, 1);
  --app-color-primary-fg-on-tone: hsl(70, 4%, 70%);
  --app-color-primary-fg-on-translucent: hsl(70, 4%, 70%);
  --app-config-color-accent-hue: 70;
  --app-config-color-accent-saturation: 4%;
  --app-config-color-accent-saturation-translucent: 4%;
  --app-config-color-accent-darken: 0.1;
  --app-config-color-accent-darken-hover: 0.1;
  --app-config-color-accent-darken-active: 0.2;
  --app-config-color-accent-alpha-bg: 0.12;
  --app-config-color-accent-alpha-bg-hover: 0.16;
  --app-config-color-accent-alpha-bg-active: 0.2;
  --app-config-color-accent-alpha-bg-subtle: 0.04;
  --app-config-color-accent-alpha-border: 0.16;
  --app-config-color-accent-alpha-border-hover: 0.2;
  --app-config-color-accent-alpha-border-active: 0.24;
  --app-config-color-accent-alpha-border-subtle: 0.06;
  --app-config-color-accent-alpha-fg: 0.6;
  --app-config-color-accent-alpha-fg-hover: 1;
  --app-config-color-accent-alpha-fg-active: 1;
  --app-config-color-accent-lighten: 0.8;
  --app-config-color-accent-lighten-hover: 0.8;
  --app-config-color-accent-lighten-active: 0.8;
  --app-config-color-accent-lighten-translucent: 0.8;
  --app-config-color-primary-hue: 70;
  --app-config-color-primary-saturation: 4%;
  --app-config-color-primary-saturation-translucent: 4%;
  --app-config-color-primary-darken: 0.12;
  --app-config-color-primary-darken-hover: 0.1;
  --app-config-color-primary-darken-active: 0.2;
  --app-config-color-primary-alpha-bg: 0.12;
  --app-config-color-primary-alpha-bg-hover: 0.16;
  --app-config-color-primary-alpha-bg-active: 0.2;
  --app-config-color-primary-alpha-bg-subtle: 0.04;
  --app-config-color-primary-alpha-border: 0.16;
  --app-config-color-primary-alpha-border-hover: 0.2;
  --app-config-color-primary-alpha-border-active: 0.24;
  --app-config-color-primary-alpha-border-subtle: 0.06;
  --app-config-color-primary-alpha-fg: 0.6;
  --app-config-color-primary-alpha-fg-hover: 1;
  --app-config-color-primary-alpha-fg-active: 1;
  --app-config-color-primary-lighten: 0.8;
  --app-config-color-primary-lighten-hover: 0.8;
  --app-config-color-primary-lighten-active: 0.8;
}

[data-color-mode="light"] [data-theme="vue-equipment"],
[data-color-mode="light"][data-theme="vue-equipment"],
[data-color-mode="light"][data-theme="vue-equipment"] * {
  --app-color-surface-elevation-low-bg: hsl(60, 4%, 100%);
  --app-color-surface-elevation-low-bg-hover: hsl(60 4% 81%);
  --app-color-surface-elevation-low-bg-active: hsl(60 4% 64%);
  --app-color-surface-elevation-base-bg: hsl(60, 4%, 96%);
  --app-color-surface-elevation-base-bg-hover: hsl(60 4% 77.8%);
  --app-color-surface-elevation-base-bg-active: hsl(60 4% 61.4%);
  --app-color-surface-elevation-high-bg: hsl(60, 4%, 74%);
  --app-color-surface-elevation-high-bg-hover: hsl(60 4% 59.9%);
  --app-color-surface-elevation-high-bg-active: hsl(60 4% 47.4%);
  --app-color-surface-elevation-higher-bg: hsl(60, 4%, 96%);
  --app-color-surface-elevation-higher-bg-hover: hsl(60 4% 77.8%);
  --app-color-surface-elevation-higher-bg-active: hsl(60 4% 61.4%);
  --app-color-surface-border: hsla(60, 100%, 4%, 0.12);
  --app-color-surface-border-hover: hsl(60 100% 4%);
  --app-color-surface-border-active: hsl(60 100% 4%);
  --app-color-surface-fg: hsla(60, 4%, 6%, 1);
  --app-color-surface-fg-muted: hsla(60, 4%, 6%, 0.54);
  --app-color-surface-fg-subtle: hsla(60, 4%, 6%, 0.32);
  --app-color-surface-fg-inverted: hsla(60, 4%, 88%, 1);
  --app-color-accent-bg-solid: hsl(60, 4%, 6%);
  --app-color-accent-bg-translucent: hsla(60, 100%, 6%, 0.06);
  --app-color-accent-bg-tone: hsl(60, 4%, 64%);
  --app-color-accent-border-solid: hsl(60, 4%, 6%);
  --app-color-accent-border-translucent: hsla(60, 100%, 6%, 0.12);
  --app-color-accent-fg-solid: hsl(60, 4%, 6%);
  --app-color-accent-fg-muted: hsla(60, 4%, 6%, 0.54);
  --app-color-accent-fg-on-solid: hsla(60, 4%, 88%, 1);
  --app-color-accent-fg-on-tone: hsl(60, 100%, 6%);
  --app-color-accent-fg-on-translucent: hsl(60, 4%, 6%);
  --app-color-primary-bg-solid: hsl(60, 4%, 6%);
  --app-color-primary-bg-translucent: hsla(60, 100%, 6%, 0.06);
  --app-color-primary-bg-tone: hsl(60, 4%, 64%);
  --app-color-primary-border-solid: hsl(60, 4%, 6%);
  --app-color-primary-border-translucent: hsla(60, 100%, 6%, 0.12);
  --app-color-primary-fg-solid: hsla(60, 4%, 6%, 1);
  --app-color-primary-fg-muted: hsla(60, 4%, 6%, 0.54);
  --app-color-primary-fg-on-solid: hsla(60, 4%, 88%, 1);
  --app-color-primary-fg-on-tone: hsl(60, 4%, 6%);
  --app-color-primary-fg-on-translucent: hsl(60, 4%, 6%);
  --app-config-color-accent-hue: 60;
  --app-config-color-accent-saturation: 4%;
  --app-config-color-accent-saturation-translucent: 100%;
  --app-config-color-accent-darken: 0.1;
  --app-config-color-accent-darken-hover: 0.1;
  --app-config-color-accent-darken-active: 0.2;
  --app-config-color-accent-alpha-bg: 0.06;
  --app-config-color-accent-alpha-bg-hover: 0.08;
  --app-config-color-accent-alpha-bg-active: 0.1;
  --app-config-color-accent-alpha-bg-subtle: 0.04;
  --app-config-color-accent-alpha-border: 0.12;
  --app-config-color-accent-alpha-border-hover: 0.14;
  --app-config-color-accent-alpha-border-active: 0.16;
  --app-config-color-accent-alpha-border-subtle: 0.06;
  --app-config-color-accent-alpha-fg: 0.6;
  --app-config-color-accent-alpha-fg-hover: 1;
  --app-config-color-accent-alpha-fg-active: 1;
  --app-config-color-accent-lighten: 0.8;
  --app-config-color-accent-lighten-hover: 0.8;
  --app-config-color-accent-lighten-active: 0.8;
  --app-config-color-primary-hue: 60;
  --app-config-color-primary-saturation: 4%;
  --app-config-color-primary-saturation-translucent: 100%;
  --app-config-color-primary-darken: 0.1;
  --app-config-color-primary-darken-hover: 0.1;
  --app-config-color-primary-darken-active: 0.2;
  --app-config-color-primary-alpha-bg: 0.06;
  --app-config-color-primary-alpha-bg-hover: 0.08;
  --app-config-color-primary-alpha-bg-active: 0.1;
  --app-config-color-primary-alpha-bg-subtle: 0.04;
  --app-config-color-primary-alpha-border: 0.12;
  --app-config-color-primary-alpha-border-hover: 0.14;
  --app-config-color-primary-alpha-border-active: 0.16;
  --app-config-color-primary-alpha-border-subtle: 0.06;
  --app-config-color-primary-alpha-fg: 0.6;
  --app-config-color-primary-alpha-fg-hover: 1;
  --app-config-color-primary-alpha-fg-active: 1;
  --app-config-color-primary-lighten: 0.8;
  --app-config-color-primary-lighten-hover: 0.8;
  --app-config-color-primary-lighten-active: 0.8;
}
