:root {
  --ease-in: cubic-bezier(0.42, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-out-gentle: cubic-bezier(0.32, 0.72, 0, 1);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-back: cubic-bezier(0, 0, 0.85, 1.25);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
  --ease-in-out-sharp: cubic-bezier(0.83, 0, 0.17, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-gentle: cubic-bezier(0.42, 0, 0.58, 1);
}
